body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
    direction: rtl;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.button {
    display: block;
    margin: 15px auto;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.button:hover {
    background-color: #007BFF;
}
